.header {
  width: 100%;
  position: fixed;
  background-color: $brown-color;
  opacity: 0.85;
  color: white;
  z-index: 1;
  a {
    color: white;
  }
  .header-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .app-name {
      line-height: 100px;
      padding-left: 3%;
      font-size: calc(10px + 2vw);
    }
    .header-contents {
      display: flex;
      line-height: 100px;
      width: 80%;
      justify-content: flex-end;
      align-items: center;
      .search {
        line-height: 40px;
        .search-input {
          width: 200px;
        }
        .search-btn {
          width: 70px;
        }
      }
      .name {
        padding-top: 1px;
        font-size: calc(7px + 1vw);
      }
      &__content {
        margin-right: 3%;
        a {
          padding: 0;
          color: white;
          font-size: calc(7px + 1vw);
        }
      }
    }
  }
}

.notice-bar {
  padding-top: 100px;
}

.new-topic-btn {
  text-align: center;
}

.topics-index-wrapper {
  margin: 50px 0;
  .contents__blank {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
  }
  .content {
    border-bottom: 1px dotted;
    padding: 16px 0;
    li {
      padding: 8px 0;
    }
    &__title {
      font-size: 30px;
    }
  }
}
